<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {{>header}}
    <p>Link to my <a href="https://github.com/kwachu91/node-course-2-web-server">Portfolio</a> </p>
  </body>
</html>
